body{
	width: 960px;
	margin: auto;
	margin-top: 50px;	
	font-family: Trebuchet Ms;
}
.buttons{
	float: left;
	width: 20%;
	padding: 50px;
	background: #eee;
	text-align: center;
	border-radius: 30px;
}
.buttons button{
	width: 100px;
	height: 40px;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	margin-bottom: 50px;
	padding: 10px;
	padding-bottom: 25px;
	color: #fff;
}
.wright{
	background: #183;
	transition: background .25s ease;
}
.wright:hover{
	background: #4c7;
	transition: background .25s ease;
}
.wrong{
	background: #f50;
	transition: background .25s ease;
}
.wrong:hover{
	background: #f94;
	transition: background .25s ease;
}
.snaps{
	float: left;
	margin-left: 100px;
	background: #eee;
	border-radius: 30px;
	width: 30%;
	padding: 20px; 
	text-align: center;
}
.french ,.arabic{
	width: 90%;
	background: #fff;
	height: 30px;
	padding-top: 10px;
	border-radius: 10px;
}